.container-tabla{
    margin: 2rem auto;
}
table{
    margin: 2rem auto;
    width: 95%;
}
h1{
    margin: 2rem auto;
}
.cont-btn-registrar{
    display: flex;
    justify-content: flex-end;
    margin-right: 45px;
}
.form-group{
    margin: 1rem auto;
}